<%- include("../partials/header") %>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4"><i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
        <p class="lead">View our hand-picked campgounds from all over the world!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground <i class="fas fa-feather"></i></a>
    </div>

    <div class="row text-center flex-wrap">
        <% campgrounds.forEach(campground => { %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3"> 
                <div class="card">
                    <img src="<%= campground.image %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%= campground.name %></h5>
                      <a href="/campgrounds/<%= campground.id %>" class="btn btn-primary">More Info <i class="fas fa-info-circle"></i></a>
                    </div>
                  </div>             
            </div>
        <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>
