<%- include("../partials/header") %>

<!-- Use filter.clean() method everywhere where user input must be sanitized for "bad-words" - passed from the app.js -->

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- <p class="lead">Yelp Camp</p> -->
            <!-- <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div> -->
            <div id="map" class="mt-0 d-none d-md-block"></div>
        </div>

        <!-- Main content -->
        <div class="col-md-9">
            <div class="card mb-3">
                <img class="card-img-top" src="<%= campground.image %>" alt="">
                <div class="card-body">
                    <% if(Number(campground.price) === 0) { %>
                        <p class="float-right">Free</p>
                    <% } else{ %>
                        <p class="float-right">$<%= campground.price %>/night</p>
                    <% } %>
                    
                    <h5 class="card-title"><a href=""><%= filter.clean(campground.name) %></a></h5>
                    <p>
                        <em>Submitted by <a href="/user/<%= campground.author.username %>"><%= campground.author.username %></a>, <%= moment(campground.date).fromNow();  %></em>                        
                    </p>
                    <!-- Like button form -->
                    <div class="likes">
                        <form class="like-form" action="/campgrounds/<%= campground.id %>/like" method="POST">
                            <% if(currentUser){ %>
                                <% let isLiked = campground.likes.some(like => { return like.equals(currentUser.id);}) %>
                                <% if(isLiked){ %>
                                    <button class="btn btn-sm btn-primary"><i class="fas fa-thumbs-up"></i> Liked (<%= campground.likes.length %>)</button>
                                <% } else {%>  
                                    <button class="btn btn-sm btn-primary"><i class="fas fa-thumbs-up"></i> Like (<%= campground.likes.length %>)</button>
                                <% } %>
                            <% } %>
                        </form>

                        <div class="float-right total-likes">
                            <button class="btn btn-sm btn-primary btn-block" data-toggle="modal" data-target="#showLikes" title="View likes">
                                <i class="fas fa-thumbs-up"></i> Total Likes: <%= campground.likes.length %>
                            </button>
                        </div>
                    </div>
                    
                    
                    <hr>
                    <p class="card-text"><%= filter.clean(campground.description) %></p>
                    <!-- show the edit and delete forms only if the user owns the post or the user has admin rights -->
                    <% if(currentUser && (campground.author.id.equals(currentUser.id) || currentUser.isAdmin )){ %>
                        <a class="btn btn-warning btn-sm" href="/campgrounds/<%= campground.id %>/edit">Edit <i class="fas fa-edit"></i></a>
                        <form class="delete-form" action="/campgrounds/<%= campground.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger btn-sm">Delete <i class="fas fa-trash-alt"></i></button>
                        </form>
                    <% } %>
                </div>
            </div>


            <!-- Comment section -->
            <div class="card">
                <div class="card-body">
                    <div class="text-right">
                        <!-- <a class="btn btn-success" href="/campgrounds/<%= campground.id %>/comments/new">Add New Comment</a> -->
                        <a class="btn btn-success" href="#add-form" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="add-form">Add New Comment <i class="fas fa-comment-medical"></i></a>
                    </div>
                    <!-- Add comment collapsed section -->
                    <div id="add-form" class="collapse">
                        <div class="card mt-2">
                            <div class="card-body add-form pb-0">
                                <% if(currentUser) { %>
                                    <h5 class="mb-3"><i class="fas fa-comments"></i> Write your comment</h5>
                                    <form action="/campgrounds/<%= campground.id %>/comments" method="POST">
                                        <div class="form-group">
                                            <input class="form-control" type="text" value="<%= currentUser.username %>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control"  name="comment[text]" placeholder="Your comment..." rows="5"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success btn-sm" type="submit">Comment <i class="fas fa-plus"></i></button>
                                        </div>
                                    </form>
                                <% } else {%>
                                    <p class="warning-message">You need to be logged in to do that! <a href="/login">Click here to login</a></p>
                                <% } %>
                            </div>
                        </div>
                    </div> <!-- Closing the add-form div -->
                    <hr>
                    <!-- Displaying comments -->
                    <% if(!campground.comments.length) { %>
                        <p class="text-center"><em>No comments yet</em></p>
                    <% } %>
                    <!-- simulated a for loop in a for each loop with the bellow variable which is used for the toggle edit button -> knows exactly which form to toggle -->
                    <% let i = 0; %>
                    <% campground.comments.forEach(comment => { %>
                        <% i++; %>
                        <div class="row">
                            <div class="col-md-12">
                                
                                <strong><img src="<%= comment.author.profilePic %>" width="30px" height="30px" style="border-radius: 50%;" alt="profile-image"> <a href="/user/<%= comment.author.username %>"><%= comment.author.username %></a> </strong>
                                <span class="float-right"><%= moment(comment.date).fromNow() %></span>
                                <p class="mb-0"><%= filter.clean(comment.text) %></p>
                                <!-- Forms -->
                                <% if(currentUser && (comment.author.id.equals(currentUser.id) || currentUser.isAdmin)){ %>
                                    <div class="float-right">
                                        <a class="btn btn-sm btn-warning" href="#edit-form-<%= i %>" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="edit-form-<%= i %>">Edit <i class="fas fa-edit"></i></a>
                                        <!-- <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>/edit">Edit</a> -->
                                        <form class="delete-form" action="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>?_method=DELETE" method="POST">
                                            <button  class="btn btn-sm btn-danger">Delete <i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                    <!-- Edit form - collapsed -->
                                    <div class="collapse mt-5" id="edit-form-<%= i %>">
                                        <div class="card">
                                            <div class="card-body edit-form pb-0">
                                                <h5 class="mb-3"><i class="fas fa-edit"></i>Edit your comment</h5>
                                                <form action="/campgrounds/<%= campground.id %>/comments/<%= comment.id %>?_method=PUT" method="POST">
                                                    <div class="form-group">
                                                        <textarea class="form-control"  name="comment[text]" rows="5"><%= comment.text %></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-sm btn-warning">Edit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <hr>
                    <% }); %>
                </div>
            </div> <!-- comment section card closing -->
        </div> <!-- main content closing -->
    </div> <!-- .row closing -->
</div> <!-- .container closing -->


<!-- Modal likes -->
<div class="modal fade" id="showLikes" tabindex="-1" role="dialog" aria-labelledby="showLikesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= campground.name %> likes: <%= campground.likes.length %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if(campground.likes.length === 0){ %>
                   <em>No likes yet</em>
                <% }else { %>
                    <strong>Liked by:</strong>
                    <% campground.likes.forEach(like => { %>
                        <div class="row">
                            <div class="col-12">
                                <i class="far fa-user"></i><a href="/user/<%= like.username %>"><%= like.username %></a> 
                            </div>
                        </div>
                        
                    <% }); %>
                <% } %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Map script -->
<script type="text/javascript">
    function initMap() {
        //get information about the location
        const lat =   Number('<%= campground.lat %>');
        const lng =  Number('<%= campground.lng %>'); 
        const center = {lat: lat, lng: lng };

        //create new google map with center based on the location
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            center: center,
            scrollwheel: true
        });

        //this string is to be displayed when clicked on the marker
        const contentString = `
            <strong><%= campground.name %><br />
            <%= campground.location %></strong>
            <p><%= campground.description %></p>
        `
        //display the content string in an infowindow
        const infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        //create new marker at the center position
        const marker = new google.maps.Marker({
            position: center,
            map: map
        });
        
        //add on click listener for the marker to display the info window
        marker.addListener('click', () => {
            infowindow.open(map, marker);
        });
    }
</script>
<!-- Don't steal this key :) -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBII3hfRlVJtV1xekRaBigp5IbFv2pbtLY&callback=initMap"></script>

<%- include("../partials/footer") %>