<%- include("../partials/header") %>

<div class="container">
    
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <h3 class="pt-3">Account Settings</h3>
            <div class="card">
                <div class="px-2 px-md-5 pt-5 card-body ">
                    <form action="/settings/?_method=PUT" method="POST" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="username" class="labels"><i class="fas fa-user"></i> Username: </label>
                                    <input  class="form-control" id="username" type="text" name="username" value="<%= currentUser.username %>">
                                </div>
        
                                <div class="form-group">
                                    <label for="email" class="labels"><i class="fas fa-envelope"></i> Email: </label>
                                    <input  class="form-control" id="email" type="email" name="email" value="<%= currentUser.email %>">
                                </div>
        
                                <div class="form-group">
                                    <label for="password" class="labels"><i class="fas fa-lock"></i> Password: </label>
                                    <input  class="form-control" id="password" type="password" value="***********" disabled>
                                    <small id="password" class="form-text text-muted"><a href="/forgot">Click here to reset your password</a></small>
                                </div>
                                
                                <input type="submit" class="mt-3 btn btn-primary" value="Save changes">
        
                                <div class="mt-3 float-md-right">
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteForm">Delete account</button>
                                </div>
                            </div>
                            <div class="col-4 text-center" id="profile-image">
                                <img class="img-fluid" id="accImage" src="<%= currentUser.profilePic %>">
                                <label id="profilePicLabel" class="btn btn-primary mt-4 btn-sm btn-md-lg" for="profilePic">Upload Picture</label>
                                <input type="file" name="profilePic" id="profilePic">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="deleteForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete your account?</p>
                <em>You will lose all associated data to your account!</em>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <form action="/settings?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
               
            </div>
        </div>
    </div>
</div>

<!-- script to dynamically change the image if provided before upload -->
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function(e) {
                $('#accImage').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#profilePic").change(function() {
        readURL(this);
    });
</script>

<%- include("../partials/footer") %>